@{
    Layout = null;
}

<!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="~/Content/image/panner/1.jpg" alt="" width="1000" height="500">
    </div>
    <div class="carousel-item">
      <img src="~/Content/image/panner/2.jpg" alt="" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="~/Content/image/panner/3.png" alt="" width="1100" height="500">
    </div>
  </div>