<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://trongliembmt123-001-site1.dtempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://win8039.site4now.net:8172/msdeploy.axd?site=trongliembmt123-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>trongliembmt123-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>trongliembmt123-001</UserName>
    <_SavePWD>False</_SavePWD>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="QL_HSKDConnectionString1" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL8003.site4now.net;Initial Catalog=db_a9424f_loginn;User ID=db_a9424f_loginn_admin;Password=Taoratnguyhiem12" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=MMTNGUYENTRONGL\SQLEXPRESS;Initial Catalog=QL_KIEMDINH;User ID=sa;Password=123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QL_HSKDConnectionString1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=MMTNGUYENTRONGL\SQLEXPRESS;Initial Catalog=QL_KIEMDINH;User ID=sa;Password=123" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="QL_HSKDConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=SQL8003.site4now.net;Initial Catalog=db_a9424f_loginn;User ID=db_a9424f_loginn_admin;Password=Taoratnguyhiem12" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=MMTNGUYENTRONGL\SQLEXPRESS;Initial Catalog=QL_KIEMDINH;User ID=sa;Password=123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QL_HSKDConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=MMTNGUYENTRONGL\SQLEXPRESS;Initial Catalog=QL_KIEMDINH;User ID=sa;Password=123" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="QL_HSKDConnectionString1-Web.config Connection String">
      <ParameterValue>Data Source=SQL8003.site4now.net;Initial Catalog=db_a9424f_loginn;User ID=db_a9424f_loginn_admin;Password=Taoratnguyhiem12</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="QL_HSKDConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=SQL8003.site4now.net;Initial Catalog=db_a9424f_loginn;User ID=db_a9424f_loginn_admin;Password=Taoratnguyhiem12</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>